/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: teal;
    color: white;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: #555;
}

.welcome-message {
    color: white;
    margin-top: 10px;
}

.welcome-message p {
    margin: 0;
}

/* Main content */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

/* Search Form */
.search-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.search-form label {
    margin-top: 10px;
}

.search-form input, .search-form select {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background-color: black;
}

/* Profile Form */
#profileForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

#profileForm input, #profileForm textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#profileForm button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#profileForm button:disabled {
    background-color: #aaa;
}

/* Trip Tables */
table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}
